.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.notFound {
  width: fit-content;
  margin: 1vh auto;
  padding: 0 2.5%;
  background-color: whitesmoke;
  border-radius: 8px;
}
