.header {
  height: 9.9vh;
  display: flex;
  align-items: center;
  background-color: #0082f0;
  border-bottom: 0.1vh solid whitesmoke;
}

.header h1 {
  flex: 1;
}

.header button {
  background-color: transparent;
  border: none;
}

.icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
}
